#copyButton, #helpMessage {
    -fx-text-fill: black;
}

#copyButton {
    -fx-background-color: lightgray;
}

#copyButton:hover {
    -fx-background-color: silver;
}

#copyButton:armed {
    -fx-background-color: gainsboro;
}

#helpMessageContainer {
    -fx-background-color: derive(white, 20%);
}
